/* Empty. Add your own CSS if you like */
.warna_utama{
	background: #feb398;
	color: #fff;
}
.btn_warna_utama{
	background: #feb398;
	color: #fff;
	font-weight: bold;
}

.katalog_div {
	background-color:#feb398;
	opacity:0.7;
	color:#fff;
}
.full{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 10;
}
.text_tengah{
	display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 100px;
    margin: auto;
}
.footer{
	text-align: center;
	width: 100%;
	padding: 10px 0px;
}
.img_center{
	display: block;margin-left: auto;margin-right: auto ;
	width: 50%;
}
.putih{
	color: #fff;
}
.custom-icon {
  font-size: 64px;
  color : #fff;
}
.katalog{
	/*padding: 10px 10px 0px 10px;*/
	margin: 25px 5px !important;
}
.katalog_container{
	width: 100%;
	padding: 5px;
	float: left;
	min-height: 400px;
}
.katalog_item{
	width: 50%;
	float: left;
	margin-bottom: -10%;
	min-height: 60%;
	background-color: transparent;
}
@media(min-width: 409px) and (max-width:720px) {
	.katalog_item{
		width: 50%;
		float: left;
		margin-bottom: -58px;
		height: auto;
	}
}
@media(max-width:320px) {
	.katalog_item{
		height:50%;
	}
	.katalog_item{
		width: 50%;
		float: left;
		margin-bottom: -38px;
		height: auto;
	}
}
@media(min-width: 321px) and (max-width:408px) {
	.katalog_item{
		height:45%;
	}
	.katalog_item{
		width: 50%;
		float: left;
		margin-bottom: -40px;
		height: auto;
	}
}

.katalog_scroll{
	/*padding: 10px 10px 0px 10px;*/
	margin: 10px 5px 40px !important;
	border-radius: 0px !important;
}
.katalog_scroll .katalog_desc{
	padding: 10px 10px 0px 10px;
}
.katalog_scroll .katalog_price{
	padding: 0px 10px 0px 10px;
}
.katalog_scroll .katalog_type{
	padding: 0px 10px 0px 10px;
}
.katalog_scroll .katalog_type_po{
	padding: 0px 10px 0px 10px;
}
.col_scroll{
	padding: 0px !important;
	margin: 0px !important;
}
.row_scroll_best_seller{
	margin-top: -20px !important;
	margin-bottom: 20px;
}
.row_scroll_new_product{
	margin-top: -30px !important;
	margin-bottom: -30px !important;
	/*border: 1px solid red;*/
}
.katalog_item_scroll{
	width: 47%;
	margin-bottom: 0px;
	height: auto;
}
.div_img
{
	height:250px;
	overflow: hidden !important;
	position: relative;
}
.div_img img{
	margin:auto !important;
	height: auto;
	width: auto !important;
	max-width:100%;
	position:relative;
	padding:0 !important;
}
.katalog_desc{
	font-size: 14px;
	color: #fff;
	overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.katalog_desc2{
	font-size: 14px;
	color: #fff;
	margin-left:5px;
}
.katalog_div{
	padding: 5px 0px;
    line-height: 100%;
    text-align: justify;
    position: absolute;
    z-index: 11111;
    margin-top: -90px;
    background-color: #000;
	opacity: 0.7;
    width: 100%;
    height: 120px;
    color: #fff;
}
.katalog_price{
	color: #fff;
	font-size: 11px;
	font-weight: bold;
}
.katalog_type{
	color: #FFFF47;
	font-size: 10px;
	margin-top: -10px;
}
.katalog_type_po{
	color: #ccbf00;
	font-size: 10px;
	margin-top: -10px;
}
.katalog_detail_type{
	color: #feb398;
	font-size: 15px;
	margin-top: -10px;
}
.katalog_detail_type_po{
	color: #ccbf00;
	font-size: 15px;
	margin-top: -10px;
}
.old_price{
	color: #fff;
	text-decoration: line-through;
}
.bg_abuabu{
	background: #F5F5F5;
}
.pesanan_nama{
	background: #000;
	color: #fff;
	padding: 8px 12px;
	font-weight: bold;
}
.pesanan_summary{
	margin: 10px 0px;
	border: 1px solid #DADADA;
	padding: 8px;
	float: left;
}
.pesanan_text{
	float: left;
	width: 100%;
}
.label_list_pesanan{
	font-size: 10px;
}
.detail_nama{
	color: #000;
	text-align: left;
	font-size: 16px;
	line-height: 20px;
}
.detail_price{
	color: #000;
	font-size: 20px;
	background: #ffffff;
	width: 100%;
	padding: 5px;
	height: 85%;
}
.detail_price_label{
	color: #fff;
	font-size: 13px;
	background: #B71C1C;
	padding: 5px;
	margin: 0px 0px 0px 0px;
	float: left;
	width: 12%;
}
.detail_price_disc{
	color: #B71C1C;
	font-size: 20px;
	float: left;
	background: #ffffff;
	width: 92%;
	padding: 5px 5px;
}
.detail_price_disc_label{
	color: #fff;
	font-size: 10px;
	background: #feb398;
	padding: 5px;
	margin: 0px 0px 0px 0px;
	float: left;
	width: 10%;
}
.detail_price_disc_label_green{
	color: #fff;
	font-size: 20px;
	background: #feb398;
	padding: 5px;
	margin: 0px 10px 0px 0px;
	float: left;
	width: 12%;
	height: 80%;
}
.detail_desc{
	background: #fff;
	color: #000;
	text-align: left;
	font-size: 12px;
	margin: 0px 9px;
	width: 95%;
	font-size: 14px;
}
.detail_desc p{
	text-align:justify;margin-top:10px;
}
.icon_putih{
	color:#fff;
}
.icon_putih:hover{
	color:#fff;
}
.list_data{
	float: left;
	margin: 4px 0px;
	width: 100%;
}
.divide{
	border-top: 1px solid #000;
	float: left;
	width: 100%;
	margin: 8px 0px;
}
.title_data{
	float: left;
	width: 100%;
}
.right{
	text-align: right;
}
.menu_side_custom{
	min-height: 500px;
	height: 100% !important;
}
.header_bar_utama{
	background: #feb398;
	color: #fff;
	margin: 0px 5px;
	font-weight: bold;
}
.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
}
.scroll {
  min-width: 100%;
}
.scroll_right{
	display: inline-block;
    vertical-align: top;
    height: auto;
    white-space: normal;
    margin: 0px 0px;
}
.badge_title{
	margin-bottom: -20px;
}
.badge_title p{
	color: #6d6d6d;
	font-size: 14px;
	float: left;
	margin: 5px 5px;
}
.icon{
	width: 25px;
	float: left;
}
.slide_box{
	text-align: center;
}
.slide_img_banner{
	/*height: 130px;*/
	height: 100%;
}
.slide_img{
	/*height: 250px;*/
	max-width: 100%;
	width: auto;
}
.thumb_image_container{
	text-align: center;
  padding: 5px;
	width: 100%;
}
.thumb_div{
	height: 62px;
  width: 62px;
	border:1px solid #ff0000;
	margin: 0px 2px;
	display: inline-block;
	display: inline-block;
  text-align: left;
}
.thumb_img{
	height: 60px;
  width: 60px;
}
.load_more_data{
	/*z-index: 0;
	position:fixed;*/
	visibility: hidden;
}
.message_notif{
	font-size: 13px;
}

.icon_header{
	margin: 0px 0px 0px 0%;
	float: right;
}
.custom_icon_home_header{
	color: #fff;
	font-size: 30px;
	width: 50px;
	float: right;
}
.icon_badge{
	position: absolute;
	left: 20px !important;
	top: -2px !important;
}
.icon_badge_2{
	position: absolute;
	left: 65px !important;
	top: -2px !important;
	z-index: 99;
}
.header_icon{
	margin: -8px 0px 5px 0px;
	float: right;
}
.resi_summary{
	width: 100%;
	font-size: 14px;
	text-align: left;
}
.resi_summary td{
	border-bottom: 1px solid #000;
	padding: 5px;
}
.resi_value{
	font-weight: bold;
}
.resi_detail{
	width: 100%;
}
.resi_detail .head{
	text-align: left;
	background: #ff0000;
	color: #fff;
	font-weight: bold;
}
.resi_detail .head th{
	padding: 0px 5px;
}
.resi_detail .body td{
	border: 1px solid #000;
	padding: 0px 5px;
	font-size: 10px;
}

.desc_ongkir_detail{
	line-height: 22px;
	font-size: 15px;
}

.list_ongkir{
	border-bottom: 1px solid #e2e2e2;
	width: 100%;
	float: left;
	padding: 8px 10px 8px 20px;
	color: #000;
}
.list_ongkir .item-note{
	color: #000;
	font-weight: bold;
}

.id_pesanan{
	color: #ff0000;
	float: left;
	width: 100%;
}
.tgl_pesanan{
	font-size: 10px;
	color: #a2a2a2;
	float: left;
	width: 100%;
}
.desc_pesanan{
	font-size: 12px;
	line-height: 20px;
}
.pesanan_belum_lunas{
	margin-bottom: 20px;
	text-align: left;
}
.checkbox_listorder{
	border:0px;
}
.row_slider{
	margin-top: 45px;
}
.profile_menu{
	width: 100%;
	padding: 0px;
	height: 33px;
	background: #fff;
}
.profile_img{
	float:left;
	width: 25%;
}
.profile_info{
	float:left;
	width: 100%;
	margin: 10px 0px 0px 10px;
	font-size: 16px;
}
.profile_label{
	width: 100%;
	float: left;
	margin: 2px 0px;
}
.pesanan_confirmed{
	color: #ff0000 !important;
	font-weight: bold;
}
.pesanan_not_confirmed{
	color: #ff0000;
}
#order_item {
	padding: 0px 10px 0px 25px;
}
#order_item ul {

}
#order_item ul li {
  text-align: left;
  list-style-type: disc;
  margin: 10px 0px;
}
.separator_order_item{
	width: 100%;
	padding: 0.5px;
	background: #dadada;
}
.product_name{
	width: 80%;
	text-align: center;
	margin: 0px auto;
	float: left;
}
.product_prev{
	float: left;
	width: 10%;
	text-align: center;
	font-size: 30px;
	margin-top: 10px;
}
.product_next{
	float: left;
	width: 10%;
	text-align: center;
	font-size: 30px;
	margin-top: 10px;
}





.full-width{
  width: 100% !important;
}

.button_tab{
  min-height: 30px !important;
  max-height: 30px !important;
  line-height: 25px !important;
  background: #fff !important;
  color: #000 !important;
  font-size: 13px;
  width: -webkit-max-content;
  width: max-content;
  width: auto;
  width: 100% !important;
}
.button_tab_active{
  min-height: 30px !important;
  max-height: 30px !important;
  line-height: 25px !important;
  background: #fff !important;
  color: #000 !important;
  border-bottom: 2px solid #085d75 !important;
  white-space: nowrap;
}
.tab_box{
  /*border: 1px solid #000;*/
  height: 220px;
  margin:-10px 0px 0px 0px;
  padding: 2px;
  overflow-y: visible;
  width: 100% !important;
}
.tab_box ul{
  width: 100%;
}
.tab_box li{
  width: 100%;
  white-space: normal !important;
  font-size: 12px;
  border-bottom: 1px solid #EAEAEA;
}


.bold{
	font-weight: bold;
}
.border_bottom{
	border-bottom: 1px solid #dadada;
}
.separator{
	width: 100%;
	padding: 1px;
	background: #dadada;
	margin-top: -34px;
	margin-bottom: 10px;
}
.box {
  width: 200px; height: 300px;
  position: relative;
  border: 1px solid #BBB;
  background: #EEE;
}
.ribbon {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#F70505 0%, #8F0808 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #8F0808;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F0808;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
.search_form{
	width: 100%;
}
.login_page{
	overflow-y: scroll;
}















		/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {
			.katalog_item{
				height:45%;
				margin-bottom: -10%;
			}
			.katalog_item_scroll{
				height:40%;
			}
    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {
			.katalog_item{
				height:45%;
				margin-bottom: -15%;
			}
			.katalog_item_scroll{
				height:45%;
				margin-bottom: -30%;
			}
    }
    @media only screen and (min-width : 500px) and (max-width : 750px) {
			.katalog_item{
				height:45%;
				width: 33%;
				margin-bottom: 15%;
			}
			.katalog_item_scroll{
				height:auto;
				width: 33%;
				margin-bottom: 1%;
			}
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
			.katalog_item{
				height:45%;
				margin-bottom: 0%;
				width: 33%;
			}
			.katalog_item_scroll{
				height:45%;
				margin-bottom:2%;
				width: 33%;
			}
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
			.katalog_item{
				height:45%;
				margin-bottom: -10%;
				width: 20%;

			}
			.katalog_item_scroll{
				height:45%;
				margin-bottom: -10%;
				width: 20%;
			}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
			.katalog_item{
				height:45%;
				margin-bottom: 5%;
				width: 20%;
			}
			.katalog_item_scroll{
				height:45%;
				margin-bottom: 5%;
				width: 20%;
			}
    }



.icon_badge{
	position: absolute;
	left: 25px !important;
	top: -2px !important;
	font-size: 10px;
}
.icon_badge_2{
	position: absolute;
	left: 65px !important;
	top: -2px !important;
	z-index: 99;
}

.red{
	color: red;
}
.yellow{
	color: yellow;
}
.popup-buttons .button{
	background: #feb398 !important;
	color: #FFF
}
.popup-buttons .button.activated{
	background: #feb398 !important;
	color: #FFF
}
.kolom_footer3
{
	width:100%;
	position:fixed;
	top:29px;
	padding:0px;
	left:0px;
}
.sub_kolom_footer2
{
	width:100%;
	margin:0px;
	padding-left:0px;
	padding-bottom:0px;
	padding-right:0px;
}
.sub_kolom_footer
{
	width:100%;
	margin:0px;
	padding-left:0px;
	padding-bottom:0px;
	padding-right:0px;
	padding: 0px !important;
}
.btn_pesanan_utama{
	background: #fff;
	color: #000;
}
.custom_icon_home_header
{
	color: #fff;
}
.btn_pesanan_sekunder{
	background: #CDCDCD;
	color: #000;
}

.form_search_produk {
	background-color: #feb398;
	height: 100%;
}

.form_search_produk input {
    color: #fff;
}

.txt_search {
    background-color: #feb398;
    border-bottom: 1px solid #dadada !important;
    width: 100%;
    padding: 0px 10px !important;
    color: #fff;
}

.col .input-label {
	width: 100%;
}

.button.button-fab.button-fab-bottom-right {
    top: auto;
    right: 16px;
    bottom: 16px;
    left: auto;
    position: absolute;
}

.button.button-fab {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    z-index: 9999;
    width: 56px;
    height: 56px;
    max-height: initial;
    max-width: initial;
    border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition: .3s fade-in-out;
    transition: .3s fade-in-out;
    -webkit-transition-property: -webkit-transform,box-shadow;
    transition-property: transform,box-shadow;
}

.button-fab {
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    outline: 0;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    z-index: 1;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.button.button-fab i {
    font-size: 2.5rem;
    margin-top: 0;
}